<div class="container">
<div class="row justify-content-md-center"> 
  <!--Inicio de card para enlace directo al 144-->
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">         
          <p class="card-text">Atienden las 24 horas, de manera gratuita y desde todo el pais</p>
          <a href="#" class="btn btn-primary">Llama al 144</a>
        </div>
      </div>
    </div>
    <!--Fin de card -->

       <div class="col-sm-1"></div>

       <!--Comienzo de Card para mapas de centros de ayuda con enlaze directo al mapa-->
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          
          <p class="card-text">Encuentra lugares cercanos donde pueden contenerte o asesorarte</p>
          <a href="#" class="btn btn-primary">Mapas de centros</a>
        </div>
      </div>
    </div>
      <!--Final de card para mapas-->
  </div>
  </div>
  <br><br>