<div class="row">

  <div class="col-sm-6">
    <div class="card bg-dark text-white">
      <img class="card-img" src="../../assets/imagen_acceso-01.png" alt="Card image">
      <div class="card-img-overlay">
        <h3 class="card-title">Primeros signos de maltrato en la pareja:  </h3> <br>
        <h6 class="card-text">Te ridiculiza, te hace sentir inferior, torpe o inútil.</h6> <br>
        <h6 class="card-text">Te aísla, y te impide relacionarte con tus familiares o amistades, ademas se pone celoso o provoca una pelea. </h6> <br>
        <h6 class="card-text">Te amenaza, humilla, grita o insulta.</h6> <br>
        <h6 class="card-text">Hace amenazas con hacerte daño a vos o a tu familia.</h6> <br>
        <h6 class="card-text">Te da miedo su mirada o sus gestos.</h6> <br>
        <h6 class="card-text">Controla tu dinero, tu vestimenta, tu celular y redes sociales</h6> <br>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
      <div class="card bg-dark text-white">
        <img class="card-img" src="../../assets/imagen_acceso-02.png" alt="Card image">
        <div class="card-img-overlay">
          <h3 class="card-title">Como prevenir la violencia de Genero:</h3>  <br> 
          <h6 class="card-text"> El educar a los niños y niñas, desde las edades más tempranas en un hambiente de respeto e igualdad.</h6> <br>  
          <h6 class="card-text"> Eliminar los estereotipos transmitidos por la cultura a travez de los años.</h6> <br> 
          <h6 class="card-text"> Buscar y resolver los conflictos de una manera mas pacifica. </h6> <br>
          <h6 class="card-text"> Valorar a las personas sin considerar su tipo de sexo ni su imagen.  </h6> <br>
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  

</div>
<br>
<br>