<div class="container ">
<div class="row justify-content-md-center">
    <!--inicio de Links de centros de ayuda-->
 <div class="ScrollStyle col-5 col-sm-4 ">
        links de centros <br>
        links de centros <br>
   </div>
   <!--fin de links centro de ayuda-->
   <!--para separar las scrollbar-->
    <div class="col col-sm-1"></div>

    <!--inicio Link de eventos-->
    <div class="ScrollStyle col-5 col-sm-4" >
        links de eventos <br>
        links de eventos <br>
    </div>
    <!--fin link de eventos-->
</div>

</div>